/* Base styles for the footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #1A1A1A;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #333;
}

footer p {
    margin-bottom: 0;
}

footer p span {
    color: #BBBBBB;
    font-family: inherit;
}

/* Styles for the Matrix link */
#matrixLink {
    color: #E00000;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: inherit;
    perspective: 1000px;
    transition: color 0.4s ease-in-out, text-shadow 0.4s ease-in-out, transform 0.2s ease-out, letter-spacing 0.8s ease-in-out;
    will-change: color, text-shadow, transform, letter-spacing;
}

/* Hover styles for the Matrix link */
#matrixLink:hover {
    color: #FFF;
    text-shadow: 0 0 25px rgba(255, 255, 255, 0.9), 0 0 40px rgba(255, 100, 100, 0.7), 0 0 60px rgba(255, 150, 150, 0.5);
    transform: translateY(-5px) scale(1.1) rotateX(5deg);
    cursor: pointer;
}

/* Remove default browser highlight */
#matrixLink:hover,
#matrixLink:focus,
#matrixLink:active {
    outline: none;
    background-color: transparent;
}
