<nav class="retro-navbar">
  <div class="nav-container">
    <div class="nav-brand">
      <a href="index.html"><img src="data/Pictures/matrix.png" alt="Matrix" class="nav-logo"></a>
    </div>
    <button class="nav-toggle" id="navToggle">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <ul class="nav-menu" id="navMenu">
      <li><a href="index.html">HOME</a></li>
      <li><a href="pages/dashboard.html">DASHBOARD</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle">TOOLS</a>
        <ul class="dropdown-menu">
          <li><a href="pages/terminal.html">TERMINAL</a></li>
          <li><a href="pages/ninjadex.html">NINJADEX</a></li>
          <li><a href="pages/emulators.html">EMULATORS</a></li>
          <li><a href="pages/mods.html">MODS</a></li>
          <li><a href="pages/estimator.html">ESTIMATOR</a></li>
          <li><a href="pages/timezone.html">TIMEZONE</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle">MISC</a>
        <ul class="dropdown-menu">
          <li><a href="pages/docs.html">DOCS</a></li>
        </ul>
      </li>
      <li class="mobile-only"><a href="pages/login.html" id="mobileAuthLink">LOGIN</a></li>
    </ul>
    <div class="nav-auth">
      <a href="pages/login.html" id="authLink">LOGIN</a>
    </div>
  </div>
</nav>