.loader {
  width: 18px;
  height: 18px;
  color: var(--text-primary);
  display: none;
}

.loading-message {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1.2rem;
  color: var(--accent-color);
}

.loading-message .loader {
  display: block;
  width: 24px;
  height: 24px;
  color: var(--accent-color);
}